@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3053;
}

.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #f2f2f8;
}

/* Sidebar */

.dashboard .side-bar {
  width: 100%;
  max-width: 296px;
  min-width: 296px;
  position: sticky;
  top: 0;
  height: 100%;
}

.dashboard .side-bar .blank-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #17192b70;
  display: none;
  backdrop-filter: blur(1px);
  cursor: pointer;
}

.dashboard .side-bar .main-section {
  padding: 20px;
  box-shadow: 2px 0px 30px 0px #00000008;
  background-color: #e8e9f3;
  border-right: 1px solid #e5e5e5;
  max-width: 296px;
  height: 100vh;
  overflow-y: scroll;
}

.dashboard .side-bar .main-section::-webkit-scrollbar {
  display: none;
}

.dashboard .side-bar .main-section .menu-section {
  margin-top: 55px;
}

.dashboard .side-bar .main-section .logo-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard .side-bar .main-section .logo-brand a img {
  width: 118px;
}

.dashboard .side-bar .main-section .logo-brand .close-menu {
  line-height: 0;
  cursor: pointer;
  display: none;
}
.dashboard .side-bar .main-section .logo-brand .close-menu img {
  width: 15px;
}

.dashboard .side-bar .main-section .menu-section .space {
  margin-top: 30px;
}
.dashboard .side-bar .main-section .menu-section .space:first-child {
  margin-top: 0;
}

.dashboard .side-bar .main-section .menu-section .title {
  position: relative;
  cursor: pointer;
}
.dashboard .side-bar .main-section .menu-section .title::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #2c3053;
  content: "";
  cursor: pointer;
  display: block;
  height: 0;
  position: absolute;
  right: 7px;
  top: 5px;
  transform: rotate(0deg);
  width: 0;
}
.dashboard .side-bar .main-section .menu-section .title h6 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.dashboard .side-bar .main-section .menu-section .list-items {
  margin-top: 17px;
}
.dashboard .side-bar .main-section .menu-section .list-items li {
  margin-bottom: 10px;
}
.dashboard .side-bar .main-section .menu-section .list-items li:last-child {
  margin: 0;
}
.dashboard .side-bar .main-section .menu-section .list-items li a {
  padding: 13px 15px;
  background-color: #f2f2f8;
  display: flex;
  align-items: center;
  border-radius: 7px;
}
.dashboard .side-bar .main-section .menu-section .list-items li a.active {
  background: #848abd;
}
.dashboard .side-bar .main-section .menu-section .list-items li svg {
  margin-right: 12px;
  width: 20px;
}
.dashboard .side-bar .main-section .menu-section .list-items li p {
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
.dashboard .side-bar .main-section .menu-section .list-items li a.active svg {
  fill: #ffffff;
}
.dashboard
  .side-bar
  .main-section
  .menu-section
  .list-items
  li
  a.active
  svg
  path {
  stroke: #fff;
  opacity: 1;
}

.dashboard .side-bar .main-section .menu-section .list-items li a.active p {
  color: #ffffff;
}

/* Navigation */

.dashboard .navigation-with-content {
  width: 100%;
  max-width: 81%;
}

.dashboard .navigation-with-content .navigation-section {
  padding: 14px 40px 14px 20px;
  background-color: #e8e9f3;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.dashboard .navigation-with-content .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard .navigation-with-content .main .title {
  display: flex;
  align-items: center;
}

.dashboard .navigation-with-content .main .title .menu-icon {
  line-height: 0;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

.dashboard .navigation-with-content .main .title h4 {
  font-size: 20px;
  font-weight: 600;
  color: #2e2e2e;
}

.dashboard .navigation-with-content .main .profile-notification .nav {
  display: flex;
  align-items: center;
}
.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li:nth-child(2) {
  margin: 0px 20px 0px 24px;
}

.dashboard .navigation-with-content .main .profile-notification .nav li .admin {
  display: flex;
  align-items: center;
  background: #cdd0e4;
  border-radius: 60px;
  padding: 3px;
  cursor: pointer;
  position: relative;
}
.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li
  .admin
  img {
  height: 41px;
  width: 41px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 20px;
}

.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li
  .admin
  h6 {
  font-size: 16px;
  font-weight: 600;
  color: #17192b;
  padding-right: 40px;
  position: relative;
}
.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li
  .admin
  h6::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #72757a;
  content: "";
  cursor: pointer;
  display: block;
  height: 0;
  position: absolute;
  right: 23px;
  top: 8px;
  transform: rotate(0deg);
  width: 0;
}

.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li
  .admin
  .user-drop {
  position: absolute;
  left: 0;
  top: 70px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 0px #0000000f;
  width: 180px;
  display: none;
}
.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li
  .admin
  .user-drop
  li {
  padding: 14px 13px;
  border-bottom: 1px solid #f2f2f8;
  margin: 0;
}
.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li
  .admin
  .user-drop
  li
  a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #707070;
}
.dashboard
  .navigation-with-content
  .main
  .profile-notification
  .nav
  li
  .admin
  .user-drop
  li
  a
  img {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 12px;
}

/* Content css */
.dashboard .navigation-with-content .main-content {
  padding: 40px 20px;
}
.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 19px;
  display: block;
}
.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop {
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 8px;
  padding: 47px 0px;
  width: 100%;
  text-align: center;
}

.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop
  .drop-zone--over {
  border-style: solid;
}

.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop
  .drop-zone__thumb {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  position: relative;
  margin: 10px auto 0;
}

.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop
  .drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  text-align: center;
}

.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop
  .area {
  background: transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #bdbdbd;
  font-size: 40px;
  font-weight: 200;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  cursor: pointer;
  border: 1px dashed #cdd0e4;
  line-height: 0.5;
  max-width: 258px;
  margin: 0 auto;
}
.area:hover,
.area:active,
.area:focus {
  background: #f2f2f8;
  cursor: pointer;
}
.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop
  .area
  input.drop-zone__input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 46px;
  cursor: pointer;
}

.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop
  .area
  input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .upload-logo
  .dragdrop
  p {
  font-size: 16px;
  font-size: 400;
  color: #bdbdbd;
  margin-top: 22px;
}

.dashboard .navigation-with-content .main-content .form-section {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.dashboard .navigation-with-content .main-content .form-section .basic-details {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 40px 5px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
}

form textarea {
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid #e8e9f3;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border-radius: 7px;
  margin-bottom: 35px;
}
form input,
form textarea {
  outline: none;
}
form input::placeholder,
form textarea::placeholder {
  color: #bdbdbd;
}

.dashboard
  .navigation-with-content
  .main-content
  .form-section
  .basic-details
  .sin-fields {
  margin: 0 15px;
}

/* Table css */
.dataTable-wrapper.no-header .dataTable-container {
  border-top: 1px solid #d9d9d9;
}
.dataTable-wrapper.no-footer .dataTable-container {
  border: 1px solid #e8e9f3;
  background: #ffffff;
  padding: 15px 0px;
  border-radius: 8px;
  margin: 20px 0px 30px;
  overflow: hidden;
  overflow-x: scroll;
}
.dataTable-wrapper.no-footer .dataTable-container::-webkit-scrollbar {
  display: none;
}
.dataTable-bottom,
.dataTable-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.dataTable-top {
  max-width: 100%;
  padding-right: 122px;
}

.dataTable-selector {
  border: 1px solid #e5e5e5;
  background: #ffffff;
  padding: 13px 23px 13px 15px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #494949;
  outline: none;
  margin-right: 8px;
  position: relative;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 87%;
  background-position-y: 50%;
  background-size: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

.dataTable-selector::-ms-expand {
  display: none;
}

.dataTable-input {
  padding: 13px 15px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #494949;
  max-width: 180px;
  outline: none;
}
.dataTable-input::placeholder {
  font-size: 0;
}
.dataTable-info {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
}

.dataTable-pagination {
  position: relative;
  padding-right: 40px;
}
.dataTable-pagination::after {
  content: "Pre.";
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  position: absolute;
  top: 10px;
  left: -25px;
}
.dataTable-pagination::before {
  content: "Next";
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  position: absolute;
  top: 10px;
  right: 0;
}

.dataTable-pagination ul {
  margin: 0;
  padding-left: 0;
}
.dataTable-pagination li {
  list-style: none;
  float: left;
}

.dataTable-pagination li.pager a {
  font-size: 18px;
  padding: 6.3px 12px;
  line-height: 1;
}
.dataTable-pagination a {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  float: left;
  margin-left: 10px;
  padding: 8px 13px;
  position: relative;
  text-decoration: none;
  color: #333;
  background: #e8e9f3;
  border-radius: 2px;
}

.dataTable-pagination li.ellipsis a {
  background: transparent;
}
.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: #848abd;
  color: #fff;
  cursor: default;
}
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover,
.dataTable-pagination .ellipsis a {
  cursor: not-allowed;
}
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}
.dataTable-pagination .pager a {
  font-weight: 700;
}
.dataTable-table {
  max-width: 100%;
  min-width: 1157px;
  border-spacing: 0;
}
.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
  vertical-align: top;
  padding: 8px 10px;
}
.dataTable-table th,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > th {
  vertical-align: bottom;
  text-align: left;
}
.dataTable-table > thead > tr > th {
  border-bottom: 1px solid #f4f4f4;
  padding: 15px 0px 15px 20px;
}
.dataTable-table > tfoot > tr > th {
  border-top: 1px solid #f4f4f4;
}
.dataTable-table > tbody > tr > td {
  padding: 27px 0px 12px 20px;
  border-bottom: 1px solid #f4f4f4;
  font-size: 14px;
  font-weight: 500;
  color: #969696;
  position: relative;
}
.dataTable-table > tbody > tr > td:first-child {
  color: #17192b;
}
.dataTable-table th a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  color: #2c3053;
  padding-left: 20px;
}
.dataTable-sorter {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}
.dataTable-sorter::after,
.dataTable-sorter::before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 0.5;
}
.dataTable-sorter::before {
  border-top: 7px solid #a2a2a2;
  bottom: 0px;
}
.dataTable-sorter::after {
  border-bottom: 7px solid #a2a2a2;
  border-top: 4px solid transparent;
  top: -5px;
}
.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
  opacity: 1;
}
.dataTables-empty {
  text-align: center;
}
.dataTable-top::after {
  content: "Search:";
  position: absolute;
  right: 310px;
  font-size: 14px;
  font-weight: 500;
  color: #969696;
}

.main-content .col-md-12 {
  position: relative;
}

.main-content .col-md-12 .add-btn {
  position: absolute;
  top: 0px;
  right: 12px;
  z-index: 10;
}
.main-content .col-md-12 .add-btn button {
  padding: 11px 20px 12px;
  margin: 0;
  line-height: 1.5;
}

.dataTable-top .dataTable-dropdown label {
  font-size: 14px;
  font-weight: 500;
  color: #969696;
  text-transform: capitalize;
}

.dataTable-table > thead > tr > th:last-child a::after,
.dataTable-table > thead > tr > th:last-child a::before {
  content: "";
  display: none;
}

.dataTable-table > tbody > tr > td .icons {
  display: flex;
  align-items: center;
  line-height: 0;
  padding-right: 20px;
}
.dataTable-table > tbody > tr > td .icons a {
  margin-right: 23px;
}
.dataTable-table > tbody > tr > td .icons a img,
.dataTable-table > tbody > tr > td .icons img {
  max-width: 17px;
  cursor: pointer;
}

.dataTable-table > tbody > tr > td a {
  font-size: 14px;
  font-weight: 500;
  color: #969696;
}
.mailto-message {
  display: none;
}
.dataTable-table > tbody > tr > td .document-copy {
  max-width: 16px;
  cursor: pointer;
  margin-bottom: -3px;
  margin-left: 12px;
  position: absolute;
  right: 0;
  top: 47%;
}

.dataTable-table > tbody > tr > td.dataTables-empty {
  text-align: center;
}

/* Popup css */
.confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  display: none;
}
.confirm-popup .popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 4px 4px 4px 0px #0000001a;
  padding: 62px 30px 62px 30px;
  border-radius: 15px;
  max-width: 377px;
}
.confirm-popup .popup-box .main {
  text-align: center;
}
.confirm-popup .popup-box .main img {
  margin-bottom: 35px;
  max-width: 83px;
}
.confirm-popup .popup-box .main h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}
.confirm-popup .popup-box .main .cta-box {
  margin-top: 35px;
  justify-content: center;
}
.confirm-popup .popup-box .main .cta-box button {
  font-size: 14px;
  font-weight: 500;
  color: #f2f2f8;
  border-radius: 60px;
  padding: 10px 20px;
  margin: 0;
  background-color: #f4334a;
  line-height: normal;
}

.confirm-popup .popup-box .main .cta-box button.cancel-cta {
  background-color: #c9c9c9;
  color: #707070;
  margin-left: 10px;
}

/* GST Form Css */
.non-gst-form {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.non-gst-form input,
.non-gst-form select {
  color: #bdbdbd;
}

/* .non-gst-form .two-col-field {
  align-items: center;
} */

/* .non-gst-form .two-col-field .count-no {
  margin: 0 5px 0 15px;
  height: 57px;
  display: flex;
  align-items: center;
} */

/* .non-gst-form .two-col-field:first-child .count-no {
  align-items: end;
  margin-top: 9px;
} */

/* .non-gst-form .two-col-field .count-no h6 {
  font-size: 14px;
  font-weight: 600;
} */

.non-gst-form .form-control {
  position: relative;
}

.non-gst-form .basic-info,
.non-gst-form .add-row-section,
.non-gst-form .total-amount {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 35px 3px 40px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.non-gst-form .add-row-section,
.non-gst-form .total-amount {
  margin-bottom: 0;
}

.non-gst-form .add-row-section .two-col-field {
  position: relative;
  counter-increment: css-counter 1;
  padding-left: 33px;
}
.non-gst-form .add-row-section .two-col-field::before {
  content: counter(css-counter) ". ";
  position: absolute;
  top: 22px;
  left: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #2c3053;
}
.non-gst-form .add-row-section .two-col-field:first-child:before {
  top: 51px;
}

.non-gst-form .add-row-section .two-col-field .form-control:first-child {
  width: 70%;
}
.non-gst-form .basic-info .add-more {
  color: #707070;
  font-size: 25px;
  height: max-content;
  background: #fff;
  border: 1px solid #e8e9f3;
  padding: 17px 18px 15px;
  line-height: 1;
  font-weight: 300;
}
.non-gst-form .basic-info select {
  outline: none;
  margin-right: 8px;
  position: relative;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>");
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position-x: 96%;
  background-position-y: 53%;
  background-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

.non-gst-form .total-amount {
  max-width: 532px;
  padding: 20px 0px;
}
.non-gst-form .form-control .date-bar {
  padding-right: 40px;
}
.non-gst-form .form-control .calendar-icon {
  position: absolute;
  right: 31px;
  bottom: 19px;
}
.non-gst-form .total-amount .top-lable,
.non-gst-form .total-amount .title-input {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  padding-bottom: 13px;
}

.non-gst-form .total-amount .title-input {
  border-bottom: 1px solid #e8e9f3;
}
.non-gst-form .total-amount .title-input:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
.non-gst-form .total-amount label {
  margin: 0;
}
.non-gst-form .total-amount .title-input label {
  padding-right: 10px;
}

.non-gst-form .total-amount input {
  max-width: 330px;
  padding: 15px 20px;
}

.non-gst-form .cta-box {
  display: flex;
  align-items: center;
}

.non-gst-form .cta-box .preview-cta {
  padding: 13px 20px;
  background: #e8e9f3;
  color: #2c3053;
  font-weight: 500;
  margin-left: 10px;
}

.add-remove-btn {
  display: flex;
  align-items: center;
}

.add-remove-btn button {
  font-size: 14px;
  font-weight: 500;
  color: #00a236;
  background-color: #9af5b9;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
  margin: 13px 0 30px;
}
.add-remove-btn button.remove {
  color: #f4334a;
  background-color: #f8b6be;
  margin-left: 15px;
}

/* Add Clients Popup */
.add-client-main-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: #17192b70;
  display: none;
  backdrop-filter: blur(1px);
}

.add-client-main-popup .add-client-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 4px 4px 4px 0px #0000001a;
  padding: 30px 0px;
  border-radius: 8px;
  width: 72%;
  border: 1px solid #e5e5e5;
}

.add-client-main-popup .add-client-popup .two-col-field {
  padding: 0 5px;
}

.add-client-main-popup
  .add-client-popup
  form
  .two-col-field:last-child
  .form-control {
  margin-bottom: 0;
}
.add-client-main-popup .add-client-popup .popup-form {
  border: none;
  padding: 0;
  background-color: transparent;
}

.add-client-main-popup .add-client-popup .title-with-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 15px;
  border-bottom: 1px solid #f2f2f8;
  margin-bottom: 30px;
}
.add-client-main-popup .add-client-popup .title-with-close h4 {
  font-size: 20px;
  font-weight: 600;
}

.add-client-main-popup .add-client-popup .title-with-close .close-btn {
  cursor: pointer;
}

.add-client-main-popup .add-client-popup button {
  margin-left: 20px;
}

/* Media Q. */

@media (max-width: 1199.98px) {
  .dataTable-bottom {
    display: block;
  }
  .dataTable-pagination {
    margin: 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dataTable-pagination::before,
  .dataTable-pagination::after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .dashboard .side-bar,
  .dashboard .side-bar .main-section {
    max-width: 250px;
    min-width: 250px;
  }
}

@media (max-width: 767.98px) {
  .dashboard .side-bar {
    /* display: none; */
    position: fixed;
    z-index: 99999;
    transform: translateX(-800px);
    transition: 0.7s;
    max-width: 100%;
  }
  .dashboard .side-bar .main-section {
    position: relative;
    z-index: 99;
  }
  .dashboard .navigation-with-content {
    max-width: 100%;
  }
  .dashboard
    .navigation-with-content
    .main
    .profile-notification
    .nav
    li
    .admin
    h6 {
    display: none;
  }
  .dashboard
    .navigation-with-content
    .main
    .profile-notification
    .nav
    li
    .admin
    img {
    margin-right: 0;
  }
  .dashboard .navigation-with-content .main .title .menu-icon,
  .dashboard .side-bar .main-section .logo-brand .close-menu,
  .dashboard .side-bar .blank-area {
    display: block;
  }
  .dashboard .navigation-with-content .navigation-section {
    padding: 14px 20px;
  }

  .dashboard
    .navigation-with-content
    .main
    .profile-notification
    .nav
    .notification {
    display: none;
  }
  .dashboard
    .navigation-with-content
    .main
    .profile-notification
    .nav
    li
    .admin
    .user-drop {
    left: inherit;
    right: 0;
  }
  .dashboard .navigation-with-content .main-content {
    padding: 25px 0px;
  }
  .dashboard .side-bar .main-section .menu-section .list-items li p {
    font-size: 14px;
  }

  .dataTable-top {
    display: block;
  }

  .dataTable-top .dataTable-search {
    margin-top: 25px;
    padding-left: 60px;
  }
  .dataTable-top::after {
    right: inherit;
    bottom: 15px;
  }
  .main-content .col-md-12 .add-btn {
    top: 70px;
    right: inherit;
    left: 263px;
  }
}

@media (max-width: 575.98px) {
  .dashboard .navigation-with-content .main .title h4 {
    font-size: 16px;
  }
  form textarea {
    height: 90px;
  }
  .dashboard
    .navigation-with-content
    .main-content
    .form-section
    .upload-logo
    .dragdrop
    .area {
    max-width: 190px;
  }
  .dashboard
    .navigation-with-content
    .main-content
    .form-section
    .upload-logo
    .dragdrop
    .drop-zone__thumb {
    width: 150px;
    height: 150px;
    background-size: 150px;
  }
  .dashboard .navigation-with-content .main-content .form-section .upload-logo .dragdrop p {
    font-size: 14px;
  }
  .dashboard .navigation-with-content .main-content .form-section .upload-logo .dragdrop .area {
    font-size: 32px;
    padding: 16px;
    max-width: 210px;
  }
  .dataTable-bottom {
    overflow-x: scroll;
}
.dataTable-pagination {
  justify-content: start;
}
}

@media (max-width: 380.98px) {
  .dataTable-input {
    max-width: 135px;
}
.dataTable-top .dataTable-search {
	padding-left: 56px;
}
.main-content .col-md-12 .add-btn {
  left: 214px;
}
.dataTable-input {
  max-width: 140px;
}
.main-content .col-md-12 .add-btn button {
  padding: 11px 10px 12px;
}
.dataTable-top {
  padding-right: 0;
}
}
