body {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  background: #f2f2f8;
}
.section-padding {
  padding: 32px 40px 32px 20px;
}
/* table {
  width: 100%;
  border: 1px solid #E8E9F3;
  border-collapse: collapse;
  border-radius: 8px;
  border-spacing: 0;
  background: #ffffff;
  overflow: hidden;
}
table tr {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #F4F4F4;
}
table th {
  font-weight: 600;
  color: #2C3053;
  text-align: left;
}
table th, table td {
  padding: 30px 20px 15px;
}*/
.currency-section .dataTable-table tbody tr td:first-child {
  color: #17192B;
  padding-left: 20px;
  padding-right: 20px;
}
.currency-section .dataTable-table tbody tr td {
  color: #969696;
  padding-left: 32px;
  padding-right: 32px;
}
/* table tr td:last-child {
  text-align: right;
} */
.currency-section table tr td.symbol {
  color: #2C3053;
  font-weight: 600;
}
.currency-section table tr td a img {
  width: 18px;
  margin-left: 15px;
}
/* table th span img {
  width: 6px;
  vertical-align: middle;
  margin-right: 10px;
}  */
.add-new-cta {
  background: #848ABD;
  border-radius: 7px;
  padding: 13px 20px;
  color: #ffffff;
  margin-left: 12px;
}
.add-new-cta span {
  font-size: 18px;
  font-weight: 400;
}
.add-btn {
  position: absolute;
  top: 0px;
  right: 12px;
  z-index: 10;
}
/* section.client-form {
  padding: 32px 40px 32px 20px;
} */
form {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 40px 20px;
  border-radius: 8px;
}
form .two-col-field {
  display: flex;
  justify-content: space-between;
}
form .form-control {
  margin-bottom: 35px;
  display: block;
  width: 50%;
  padding: 0 15px;
}
form label {
  color: #2c3053;
  font-weight: 600;
  margin-bottom: 16px;
  display: block;
}
form input, form select, form textarea {
  display: block;
  background: #fff;
  border: 1px solid #e8e9f3;
  padding: 20px;
  width: 100%;
  border-radius: 7px;
  font-weight: 500;
}
form label span {
  color: #707070;
  font-weight: 500;
}
form input#code {
  width: 88%;
  display: inline-block;
}
form input#symbol {
  width: 10%;
  display: inline-block;
  margin: 0 0 0 6px;
}
form .two-col-field:last-child .form-control {
  margin-bottom: 0px;
}

button {
  background: #848abd;
  color: #ffffff;
  margin-top: 30px;
  padding: 12px 20px;
  outline: none;
  stroke: none;
  border: none;
  border-radius: 7px;
  line-height: 0;
  cursor: pointer;
}

button span img {
	width: 14px;
	vertical-align: middle;
	margin-right: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar #search {
    border: 1px solid #E5E5E5;
    border-radius: 7px;
    padding: 13px 15px;
    color: #494949;
    font-size: 14px;
    outline: none;
    width: 50%;
    min-width: 300px;
}
.search-bar label {
  display: inline-block;
  color: #969696;
  text-transform: capitalize;
  margin: 0 8px 0 0px;
}
  
.search-bar [list]::-webkit-list-button,
.search-bar [list]::-webkit-calendar-picker-indicator {
  display: none !important;
}
  
.search-display {
  text-align: center;
}

.currency-section .main-content {
  padding: 0;
}
.currency-section .add-btn {
  right: 0;
}
/* .currency-section .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
}
.currency-section form {
  padding: 0;
  border: none;
  background: transparent;
}
.currency-section form select {
  font-weight: 600;
  padding: 13px 15px;
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 7px;
  color: #494949;
}
.currency-section form label {
  display: inline-block;
  color: #969696;
  text-transform: capitalize;
  margin: 0 0 0 8px;
  font-weight: 500;
}
.currency-section form .search-bar label {
  font-weight: 500;
  color: #969696;
  text-transform: capitalize;
  margin: 0 8px 0 0px;
} */

/* pagination-css-start */
.pagination-col {
  margin-top: 30px;
}
.pagination-col .content-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination-col .content-area p {
  color: #707070;
  text-transform: capitalize;
}
.pagination a {
  color: #707070;
  padding: 7px 12px;
  text-decoration: none;
  transition: background-color .3s;
  background: #E8E9F3;
  border-radius: 2px;
  margin: 0 5px;
}

.pagination a.active {
  background-color: #848ABD;
  color: white;
}
.pagination p {
  display: inline-block;
}
.pagination a:first-child {
  margin-left: 10px;
}
.pagination a:last-child {
  margin-right: 10px;
}

/* pagination-css-end */

/* popup-css-start */
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 999;
}
.popup .popup__content {
  overflow: auto;
  background: #ffffff;
  color: #202020;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 62px 30px;
  text-align: center;
  border-radius: 15px;
  max-width: 378px;
}
.popup .popup__content img {
  width: 82px;
  margin-bottom: 35px;
}
.popup .popup__content h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
}
.popup .popup__content a.done {
  background: #32B53F;
  border-radius: 60px;
  padding: 10px 20px;
  display: inline-block;
  color: #ffffff;
  margin-top: 30px;
}
.popup .popup__content a.done #countDown {
  margin-left: 5px;
}
/* popup-css-end */

/* invoice-css-start */

.two-col-content-with-cta .invoice-col .spacer {
  padding: 68px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
}
.two-col-content-with-cta {
  --bs-gutter-x: -1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)/2);
  margin-right: calc(var(--bs-gutter-x)/2);
  box-sizing: border-box;
  margin-bottom: 20px;
}
.two-col-content-with-cta > * {
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x)/-2);
  padding-right: calc(var(--bs-gutter-x)/-2);
  box-sizing: border-box;
  width: 50%;
  text-align: center;
}
.two-col-content-with-cta .invoice-col .spacer h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
}
.two-col-content-with-cta .invoice-col .spacer .invoice-cta {
  font-size: 15px;
  color: #17192B;
  padding: 18px 96px;
  background: #E8E9F3;
  border-radius: 7px;
  display: inline-block;
}
.two-col-content-with-cta .invoice-col .spacer .invoice-cta span img {
  vertical-align: middle;
  width: 20px;
  margin-right: 10px;
}




/* .invoice-table .dataTable-top, .invoice-table .dataTable-bottom {
  display: none;
} */